
.nevpar{
    background-color: crimson;
    font-size: larger;
    margin: 23px;
    width: 100%;
display: flex;
justify-content: center;
text-align:center;
list-style:none ;
}

.nevpar li {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
background-color: black;
color: aliceblue;
border-radius: 6px;
}